<main class="container">
    <div class="row">
        <article class="col-md-10 col-md-offset-1">
            <section class="row">
                <h2>About us</h2>
                <p>This web was born as an end project for web development cycle.</p>
                <p>All three of us coollaborate to fulfill this project before deadline at the same time we were making an internship in differente companies with unfriendly work schedules.</p>
            </section>
            <section class="row voffset2">
                <div class="col-md-2">
                    <img src="https://avatars1.githubusercontent.com/u/7407977?v=3" alt="Diego" class="img-responsive" />
                </div>
                <div class="col-md-6"><h3>Diego Rodríguez</h3>
                    <p>Back-end developer in charge of coordinate the project, setup and maintain the develop server, and owner of the original base idea that becomes ITGF?</p>
                </div>
            </section>
            <section class="row voffset2">
                <div class="col-md-2">
                    <img src="https://avatars1.githubusercontent.com/u/10043938?v=3" alt="Diego" class="img-responsive" />
                </div>
                <div class="col-md-6">
                    <h3>Javier Oltra</h3>
                    <p>Javascript developer, tester and hacker.</p></div>
            </section>
            <section class="row voffset2">
                <div class="col-md-2">
                    <img src="https://avatars1.githubusercontent.com/u/10043847?v=3" alt="Diego" class="img-responsive" />
                </div>
                <div class="col-md-6">
                    <h3>Sergio Serrano</h3>
                    <p>Front-end developer in charge of interface develop.</p></div>
            </section>
            <section class="row voffset2">
                <h3>Source Code</h3>
                <p>You are welcome to fork our project on <a href="https://github.com/Itadaki/IsThisGameFun">GitHub</a>.</p>
            </section>
        </article>
    </div>
</main>