<tr>
    <td>{id}</td>
    <td><a href="{server_root}games/details/{id}">{name}</a></td>
    <td>{saga}</td>
    <td>{platforms}</td>
    <td>
        <div class="btn-group" role="group" aria-label="...">
            <a data-toggle="modal" class="btn btn-info btn-group" href="" data-target="">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <a data-toggle="modal" class="btn btn-warning btn-group" href="/IsThisGameFun/admin/games/edit/{id}" data-target="#gameModal-{id}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a data-toggle="modal" class="btn btn-danger btn-group" href="#" data-target="#gameModal-{id}">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </a>
        </div>
    </td>
</tr>
<!-- Modal -->
<div class="modal fade" id="gameModal-{id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->  