<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  GAMES/ORDER/
#   Salida: index.php?section=GAMES&order=ORDER
#   El flag [L] le dice al motor que deje de buscar coincidencias en los RewriteRule's

# /user/user_name
RewriteRule ^user/(\w+)/?$ index.php?user=$1 [L]

#/games/game_id
RewriteRule ^games/(\w+)/?$ index.php?section=games&game=$1 [L]

#/seccion
RewriteRule ^(\w+)/?$ index.php?section=$1 [L]

#/seccion/orden
RewriteRule ^(\w+)/(\w+)/?$ index.php?section=$1&order=$2 [L]

#/seccion/orden/pagina
RewriteRule ^(\w+)/(\w+)/([0-9]+)/?$ index.php?section=$1&order=$2&page=$3 [L]

</IfModule>