<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  GAMES/ORDER/
#   Salida: index.php?section=GAMES&order=ORDER
#   El flag [L] le dice al motor que deje de buscar coincidencias en los RewriteRule's

#/section
RewriteRule ^(\w+)/?$ index.php?section=$1 [L]

#/section/action
RewriteRule ^(\w+)/(\w+)/?$ index.php?section=$1&action=$2 [L]

#/section/action/args...
RewriteRule ^(\w+)/(\w+)/((\w+/?)+)/?$ index.php?section=$1&action=$2&args=$3 [L]

</IfModule>