<!--{top}
{menu}-->
<div class="container row">

    <div class="jumbotron bg-gray2">
        <h2>Hello!</h2>
        <p>Welcome to <span class="brand"></span>, the simplest videogame ranking site!<br>
            People is the best judge, and no judge has better opinion than YOU!<br>
            Sign In and get involved!
        </p>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Latest games added</h2>
            {latest}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2>Current best voted games</h2>
            {best}
        </div>            
    </div>
</div>
<!--{bottom}-->