<tr>
    <td>{user_id}</td>
    <td>{user_level}</td>
    <td><a href="{server_root}user/profile/{user_nick}">{user_nick}</a></td>
    <td>{user_email}</td>
    <td>{create_time}</td>
    <td>{update_time}</td>
    <td class=" btn-group">
        <div class="btn-group" role="group" aria-label="...">
            <a data-toggle="modal" class="btn btn-info btn-group" href="/IsThisGameFun/admin/games/edit/102" data-target="#myModal">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <a data-toggle="modal" class="btn btn-warning btn-group" href="/IsThisGameFun/admin/games/edit/100" data-target="#myModal">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a data-toggle="modal" class="btn btn-danger btn-group" href="#" data-target="#myModal">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </a>
        </div>
    </td>
</tr>
