<div class="container row voffset3">
    {sidebar}
    <div class="bg-gray1 col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>NICK</strong></th>		
                    <th ><strong>EMAIL</strong></th>
                    <th ><strong>CREATED AT</strong></th>
                    <th ><strong>MODIFIED AT</strong></th>
                    <th ><strong>OPTIONS</strong></th>
                </tr>
            </thead>
            <tbody>
                {list}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->  