<div class="col-md-2">
    <!--<div class="bg-gray2 sticky">-->
    <nav class="menu bg-gray2 ">
        <ul class="nav">
            <li class="sidebar-brand">
                <a href="{server_root}admin/games">Games</a>
            </li>
            <li class="sidebar-brand">
                <a href="{server_root}admin/platforms">Platforms</a>
            </li>
            <li class="sidebar-brand">
                <a href="{server_root}admin/sagas">Sagas</a>
            </li>
            <li class="sidebar-brand">
                <a href="{server_root}admin/users">Users</a>
            </li>
        </ul>
    </nav>
        <!--</div>-->
</div>
