<div class="col-md-2">
    <nav class="menu bg-gray2">
        <ul class="nav">
            <li class="sidebar-brand">
                <a href="games">Games</a>
            </li>
            <li class="sidebar-brand">
                <a href="platforms">Platforms</a>
            </li>
            <li class="sidebar-brand">
                <a href="sagas">Sagas</a>
            </li>
            <li class="sidebar-brand">
                <a href="users">Users</a>
            </li>
        </ul>
    </nav>
</div>