<footer class="text-center bg-gray1 voffset3" style="padding: 5px">
                <a href="#" title="Contact">Contact</a> -
                <a href="#" title="License Agreements">License Agreements</a> -
                <a href="#" title="Help">Help</a> -
                <a href="#" title="Web Map">Web Map</a> -
                <a href="{server_root}cookies/policy" title="Cookie Policy">Cookie Policy</a><br>
                © Javier Oltra - Diego Rodríguez - Sergio Serrano
            </footer>
        </div>
        <script src="{server_root}includes/js/vote-script.js"></script>
        <script src="{server_root}includes/js/sticky-menu.js"></script>
        <script src="{server_root}includes/js/display-saga.js"></script>
        <script src="{server_root}includes/js/check-usernick.js"></script>
        <script src="{server_root}includes/js/validate-signin.js"></script>
        <script src="{server_root}includes/js/validate-login.js"></script>
        <script src="{server_root}includes/js/load-more-top.js"></script>
        <script type="text/javascript" src="{server_root}includes/js/bootstrapValidator.js"></script>
        <script>  
            //Old Version tooltip for choosen vote (green & gray)
//    $('button.disabled').tooltip({placement: 'top',trigger: 'hover',title:'Your vote'});
</script>
    </body>
</html>