<footer class="text-center bg-gray1 voffset3" style="padding: 5px">
                <a href="{server_root}contact" title="Contact">Contact</a> -
                <a href="{server_root}license" title="License Agreements">License Agreements</a> -
                <!--<a href="{server_root}#" title="Help">Help</a> --->
                <a href="{server_root}sitemap" title="Web Map">Web Map</a> -
                <a href="{server_root}cookies/policy" title="Cookie Policy">Cookie Policy</a><br>
                © Javier Oltra - Diego Rodríguez - Sergio Serrano
            </footer>
        </div>
        <script src="{server_root}assets/scripts/vote-script.js"></script>
        <script src="{server_root}assets/scripts/sticky-menu.js"></script>
        <script src="{server_root}assets/scripts/display-saga.js"></script>
        <script src="{server_root}assets/scripts/check-usernick.js"></script>
        <script src="{server_root}assets/scripts/validate-signin.js"></script>
        <script src="{server_root}assets/scripts/load-more-top.js"></script>
        <script src="{server_root}assets/scripts/vote-profile-game.js"></script>
        <!--<script type="text/javascript" src="{server_root}assets/scripts/bootstrapValidator.js"></script>-->
        <script>  
            //Old Version tooltip for choosen vote (green & gray)
//    $('button.disabled').tooltip({placement: 'top',trigger: 'hover',title:'Your vote'});
</script>
    </body>
</html>