<div class="progress progress-bar-danger voffset2">
    <div class="progress-bar-info" role="progressbar" aria-valuenow="{positive_percentage}" aria-valuemin="0" aria-valuemax="100" style="width:{positive_percentage}%">{positive_percentage}%</div>
</div>
<div class="hidden positive-votes">{positive_votes}</div>
<!--<button type="button" class="btn btn-vote btn-info btn-left">SI</button>-->
<button type="button" class="btn btn-vote btn-info btn-left"><span class="glyphicon glyphicon-thumbs-up"></span></button>
<span class=""><span class="total-votes">{total_votes}</span> votes</span>
<!--<button type="button" class="btn btn-vote btn-danger btn-right">NO</button>-->
<button type="button" class="btn btn-vote btn-danger btn-right"><span class="glyphicon glyphicon-thumbs-down"></span></button>
