<div class="progress progress-bar-danger voffset2">
    <div class="progress-bar-info" role="progressbar" aria-valuenow="{positive_percentage}" aria-valuemin="0" aria-valuemax="100" style="width:{positive_percentage}%"><span class="positive-percentaje">{positive_percentage}%</span></div>
</div>
<div class="hidden positive-votes">{positive_votes}</div>
<div class="hidden total-votes">{total_votes}</div>
<!--<button type="button" class="btn btn-vote btn-info btn-left">SI</button>-->
<button type="button" class="btn btn-vote btn-info btn-left"><span class="glyphicon glyphicon-thumbs-up"></span></button>
<span id="total-votes"><span class="total">{total_votes} votes</span></span>
<!--<button type="button" class="btn btn-vote btn-danger btn-right">NO</button>-->
<button type="button" class="btn btn-vote btn-danger btn-right"><span class="glyphicon glyphicon-thumbs-down"></span></button>
