<div class="container row voffset3">
    <div class="col-md-4 voffset4">
        <img class="img-lg img-responsive" src="{server_root}covers/{cover}" alt="Game-Cover"/>
    </div>
    <h2 class="text-left">{name}</h2>
    <div class="span12">
        <div class="col-md-3 game-{id}">
            <div class="hidden positive-votes">{positive_votes}</div>
            <div class="hidden total-votes">{total_votes}</div>
            <div class="hidden user-vote">{my_vote}</div>
            <label><strong>PLATFORMS</strong></label>
            <div>
                {platforms_list}
            </div>
            <label><strong>BALANCE</strong></label>
            <div class="progress progress-bar-danger">
                
                <div class="progress-bar-info" role="progressbar" aria-valuenow="{positive_percentage}" aria-valuemin="0" aria-valuemax="100" style="width:{positive_percentage}%">{positive_percentage}%</div>
            </div>
            <label><strong>VOTES</strong></label>
            <div class="total-votes">{total_votes}</div>
            <label><strong>RANKING</strong></label>
            <div>top 100</div>
            <!--<label><strong>VOTE</strong></label>-->
            <div class="text-center voffset3">
                <div class="hidden positive-votes">{positive_votes}</div>
                <!--<button type="button" class="btn btn-vote btn-info btn-left">SI</button>-->
                <button type="button" class="btn btn-info pull-left profile-btn {positive_vote_class}"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <!--<span class=""><span class="total-votes">{total_votes}</span> votes</span>-->
                <!--<button type="button" class="btn btn-vote btn-danger btn-right">NO</button>--><label><strong>VOTE</strong></label>
                <button type="button" class="btn btn-danger pull-right profile-btn {negative_vote_class}"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            </div>
        </div>
        <div class="col-md-4">
            <label><strong>DESCRIPTION</strong></label>
            <p>{description}</p>
        </div>
    </div>
</div>