<div class="container row voffset3">
    <div class="col-md-4">
        <img class="img-lg img-responsive" src="{server_root}covers/{cover}" alt="Game-Cover"/>
    </div>
    <div class="hidden id" id="game-{id}">{id}</div>
    <h2 class="text-left">{name}</h2>
    <div class="span12">
        <div class="col-md-3">
            <label><strong>PLATFORMS</strong></label>
            <div>
                {platforms_list}
            </div>
            <label><strong>BALANCE</strong></label>
            <div class="progress progress-bar-danger">
                <div class="progress-bar-info" role="progressbar" aria-valuenow="{positive_percentage}" aria-valuemin="0" aria-valuemax="100" style="width:{positive_percentage}%">{positive_percentage}%</div>
            </div>
            <label><strong>VOTES</strong></label>
            <div>{total_votes}</div>
            <label><strong>RANKING</strong></label>
            <div>top 100</div>
            <label><strong>VOTE</strong></label>
            <div>
                <div class="hidden positive-votes">{positive_votes}</div>
                <!--<button type="button" class="btn btn-vote btn-info btn-left">SI</button>-->
                <button type="button" class="btn btn-vote btn-info btn-left"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <span class=""><span class="total-votes">{total_votes}</span> votes</span>
                <!--<button type="button" class="btn btn-vote btn-danger btn-right">NO</button>-->
                <button type="button" class="btn btn-vote btn-danger btn-right"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            </div>
        </div>
        <div class="col-md-4">
            <label><strong>DESCRIPTION</strong></label>
            <p>{description}</p>
        </div>
    </div>
</div>