<main class="container">
    <article class="col-md-3 bg-gray2 voffset6" style="font-size: 18px;">
        <ul>
            <li>
                <a href="#">Cookies</a>
            </li>
            <li>
                <a href="#">Tipos de cookies que utilizamos</a>
                <ul>
                    <li><a href="#">Cookies estrictamente necesarias</a></li>
                    <li><a href="#">Cookies de Analisis</a></li>
                    <li><a href="#">Cookies Funcionales</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Cómo administrar las cookies</a>
                <ul>
                    <li><a href="#">Google Chrome</a></li>
                    <li><a href="#">Microsoft Internet Explorer</a></li>
                    <li><a href="#">Mozilla Firefox</a></li>
                    <li><a href="#">Safari</a></li>
                </ul>
            </li>
        </ul>
    </article>
    <article class="col-md-9">
        <h3>Cookies</h3>
        <p>Utilizamos cookies para facilitar el uso de nuestra página web.</p>
        <p>Las cookies son pequeños ficheros de información que nos permiten comparar y entender cómo nuestros usuarios navegan a través de nuestra página web, y de esta manera poder mejorar consecuentemente el proceso de navegación.</p>
        <p>Las cookies que utilizamos no almacenan dato personal alguno, ni ningún tipo de información que pueda identificarle.</p>
        <p>En caso de no querer recibir cookies, por favor configure su navegador de Internet para que las borre del disco duro de su ordenador, las bloquee o le avise en caso de instalación de las mismas.</p>
        <p>Para continuar sin cambios en la configuración de las cookies, simplemente continúe en la página web.</p>
        <p>Puedes obtener más información sobre las cookies y su uso en www.aboutcookies.org.</p>

        <h3>Tipos de cookies que utilizamos</h3>

        <h4>Cookies estrictamente necesarias</h4>
        <p>Estas cookies son necesarias para el correcto uso de la página web, permitiendo el acceso a secciones que cuentan con filtros de seguridad. Sin estas cookies, muchos de los servicios disponibles no estarían operativos.</p>

        <h4>Cookies de Analisis</h4>
        <p>Se utilizan con fines estadísticos únicamente. Un claro ejemplo podria ser las coockies generadas por el script de seguimiento de Google Analytics.</p>

        <h4>Cookies Funcionales</h4>
        <p>Estas cookies permiten recordar información (como su nombre de usuario, idioma o la región en la que se encuentra) y características más personales. Por ejemplo, la posibilidad de ofrecer contenido personalizado basado en la información y criterios que hayas proporcionado voluntariamente.</p>
        <p>Estas cookies también pueden utilizarse para recordar los cambios realizados en el tamaño del texto, fuentes y otras partes personalizables de la página web.</p>
        <p>También se utilizan para ofrecer algunos servicios solicitados, como ver un video o comentar en un blog.</p>
        <p>La información que recopilan estas cookies puede ser anónima y no podrá ser seguida su actividad en otras páginas web.</p>
        <p>Al visitar nuestra página web, aceptas la instalación de estas cookies en tu dispositivo.</p>

        <h3>Cómo administrar las cookies</h3>
        <p>Si quieres permitir el uso de cookies de nuestro site, por favor sigue las siguientes instrucciones.</p>

        <h4>Google Chrome</h4>
        <ol>
            <li>Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.</li>
            <li>Dentro de opciones, pincha “privacidad”. </li>
            <li>Marca “permitir la administración de cookies”.</li>
        </ol>
        
        <h4>Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0</h4>
        <ol>
            <li>Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.</li>
            <li>Revisa la pestaña de “Privacidad” asegurándote está configurada con un nivel de seguridad medio o inferior.</li>
            <li>Si la configuración de Internet no es media se estarán bloqueando las cookies.</li>
        </ol>
        
        <h4>Mozilla Firefox</h4>
        <ol>
            <li>Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.</li>
            <li>Selecciona el icono de Privacidad.</li>
            <li>Pincha en cookies, y marca: “permitir la instalación de cookies”.</li>
        </ol>
        
        <h4>Safari</h4>
        <ol>
            <li>Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.</li>
            <li>Pincha en la pestaña de “Seguridad” y revisa si la opción “Bloquear el acceso de cookies de terceros” está marcada o no.</li>
            <li>Pincha en “guardar”.</li>
        </ol>
    </article>
</main>