{error}
<style>
    .error_error{background: red}
    .error_pendiente{background: orange}
    label{
        font-size: 15px;
    }
</style>
<br>
<form id="defaultForm" method="post" class="form-horizontal" action="">
    <div class="form-group">
        <label class="col-lg-3 control-label">Username*</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="username" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Email address*</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="email" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Password*</label>
        <div class="col-lg-5">
            <input type="password" class="form-control" name="password" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Retype password*</label>
        <div class="col-lg-5">
            <input type="password" class="form-control" name="confirmPassword" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Nick*</label>
        <div class="col-lg-5">
            <input id="nick" type="text" class="form-control" name="nick" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" id="captchaOperation"></label>
        <div class="col-lg-2">
            <input type="text" class="form-control" name="captcha" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-info" name="signup" value="Sign up">Sign up</button>
            <button type="button" class="btn btn-info" id="resetBtn">Reset form</button>
        </div>
    </div>

</form>
<!--<form id="formulario" action="" method="post" novalidate>
        <label for="nombre" {validateUser}>Nombre usuario *</label> 
        <input type="text" id="user" name="user" value="{user}">
        <br><br><label for="password" {validatePassword}>Contraseña  *</label> 
        <input type="password" id="password" name="password">
        <br><br><label for="password2">Repite contraseña  *</label> 
        <input type="password" id="password2" name="password2">
        <br><br><label for="nick" {validateNick}>Nick  *</label> 
        <input type="text" id="nick" name="nick" value="{nick}">
        <br><br><label for="email" {validateEmail}>Email  *</label>
        <input type="email" id="email" name="email" value="{email}">
        <input class="enviar" type="submit" id="signin" name="signin" value="Sign In">
</form>-->