<!--User: {user_nick}<br>
Avatar: {user_avatar}<br>
Its your profile: {own_profile}
<div style="border: 1px solid">
    {history}
</div>-->

<div class="container row voffset3">
    <div class="col-md-3">
        <h3 class="text-center">{user_nick}</h3>
        <div class="text-center">
            <img src="{server_root}avatars/{user_avatar}" alt="userpic">
        </div>
        <div class="voffset2">
            <ul class="list-group">
                <li class="list-group-item"><a href="#" class="btn btn-info">Edit <span class="glyphicon glyphicon-edit {edit_display}"></span></a></li>
<!--                <li class="list-group-item"><span>Gender(icon)</span></li>
                <li class="list-group-item"><span>Platforms</span></li>
                <li class="list-group-item"><span>Votes</span></li>-->
            </ul>   
        </div>
    </div>
    <div class="col-md-9" >
        <h4 class="bg-gray2 text-center">ACTIVITY</h4>
        <div class="" style="overflow: auto; max-height: 430px">
            {history}
        </div>
    </div>
</div>